*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
:root {
  font-size: calc(0.5vw + 0.5rem + 0.5vh);
  --ff-primary: Arial;

  --bg-clr-dark-0: rgb(24, 23, 44); /* nav */
  --bg-clr-dark-1: rgb(26, 24, 83); /* body */
  --bg-clr-dark-2: rgb(32, 29, 124); /* unused */
  --bg-clr-dark-3: rgb(34, 30, 164); /* unused */
  --clr-yellow: rgb(90, 78, 5); /* unused */
  --font-clr: rgb(212, 194, 191);

  --input-bg: white;
  --input-f-clr: black;

  --button-bg: white;
  --button-f-clr: black;
  --border-clr: rgb(161, 161, 161); /* button border */

  --table-bg: white;
  --table-f-clr: black;

  --dialog-bg: rgb(13, 15, 131);
  --dialog-f-clr: white;
  --dialog-backdrop-clr: black;
  --highlight-clr-1: rgb(197, 100, 62);

  --title-clr: white;
  --settings-btn-shadow-clr: rgb(2, 145, 255);
  --close-btn-bg: red;
  --close-btn-fg: white;

  --scrollbar-thumb-bg: rgb(21, 69, 137);
  --scrollbar-thumb-border: rgb(11, 210, 241);
  --scrollbar-track-bg: rgb(8, 7, 77);

  --other-font-clr: white; /* unused */ 
  --log-bg: #333; /* unused */

  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-clr-dark-1);
  font-family: var(--ff-primary);
  color: var(--font-clr);
  height: 100vh;
}
body.no-scroll {
  overflow: hidden;
}

button {
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-f-clr);
  border: none;
  outline: 1px solid var(--border-clr);
  border-radius: 0.2rem;
  padding: 0.3em;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out, transform 0.1s;
}

.content-wrapper {
  padding: min(3vw, 1.5rem * 0.85);
}
