*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
:root {
  font-size: calc(0.5vw + 0.5rem + 0.5vh);
  --ff-primary: Arial;

  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-accent-1);
  font-family: var(--ff-primary);
  color: var(--font-clr);
  height: 100vh;
}
body.no-scroll {
  overflow: hidden;
}

button {
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-f-clr);
  border: none;
  outline: 1px solid var(--btn-border-clr);
  border-radius: 0.2rem;
  padding: 0.3em;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out, transform 0.1s;
}

.content-wrapper {
  padding: min(3vw, 1.5rem * 0.85);
}
