.nav {
  background-color: var(--bg-clr-dark-0);
  padding: 0.4em 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: min(12vw, 10rem);
  min-width: max-content;
  color: inherit;
}

.settingsBtn {
  background: url(../settings.png);
  width: 2.25rem;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: scale 100ms, box-shadow 100ms;
  translate: 0 20%;
}
.settingsBtn:hover {
  box-shadow: 0 0 0.6rem 0.05rem var(--settings-btn-shadow-clr), inset 0 0 0.4rem 0.03rem var(--settings-btn-shadow-clr);
  scale: 1.1;
}

.settings {
  --inline-padding: min(10vw, 5rem);
  padding: 2rem var(--inline-padding);
  background-color: var(--dialog-bg);
  color: var(--dialog-f-clr);
  border: 0.1rem solid var(--dialog-f-clr);
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow: hidden;
}
.instructions {
  --inline-padding: min(10vw, 5rem);
  padding: 2rem var(--inline-padding);
  background-color: var(--dialog-bg);
  color: var(--dialog-f-clr);
  border: 0.1rem solid var(--dialog-f-clr);
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  overflow: auto;
}
.settings::backdrop,
.instructions::backdrop,
.boughtVars::backdrop {
  background-color: var(--dialog-backdrop-clr);
  opacity: 0.6;
}
.settingsCloseBtn,
.instructionsCloseBtn {
  border-radius: 50%;
  width: 1.5rem;
  aspect-ratio: 1;
  background-color: var(--close-btn-bg);
  color: var(--close-btn-fg);
  font-weight: bold;
  font-size: 0.8rem;
  font-style: italic;
  font-family: "Luicida Handwriting";
  cursor: pointer;
  transition: scale 100ms;
  position: absolute;
  right: 7%;
  top: 10%;
  outline: 0.1em solid var(--close-btn-fg);
}
.settingsCloseBtn:hover,
.instructionsCloseBtn:hover {
  scale: 1.2;
}
.settings input {
  outline: 0;
}
.settings input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}


.nav-title {
  transition: color 100ms ease-in-out;
  color: var(--title-clr);
}
